*{
  margin: 0; padding: 0;
  border: 0;
}
/* como é react, este é o equivalente ao body. */
div#root{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;

  background-color: gray;
}
button{
  padding: 1rem;
  border-radius: 10px;
  font-weight: 900;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  color: white;

  transition: filter 0.1s ease-in-out;
}
button.false{
  background-color: red;
}
button.true{
  background-color: green;
}
button:hover{
  filter: brightness(0.8)
}

.VideoOutput{
  position: relative;
  background-color: rgb(20, 20, 20);
  width: 100%;
  height: 100%;
}
.VideoOutput video {
 z-index: 100;
 width: 100%;
 height: 100%;
}
.flex{
  
  display: flex;
  justify-content: center;
  
  
}


select{
  padding: 1rem;
}